@()

@import helper._
@import org.sirapi.utils.NameSpaces
@import org.sirapi.console.views.html._
@import org.sirapi.console.controllers._
@import org.sirapi.entity.pojo.HADatAcClass
@import org.sirapi.entity.pojo.HADatAcThing
@import org.sirapi.entity.pojo.Instrument
@import org.sirapi.entity.pojo.InstrumentType
@import org.sirapi.entity.pojo.DetectorSlot
@import org.sirapi.entity.pojo.Detector
@import org.sirapi.entity.pojo.DetectorStem
@import org.sirapi.entity.pojo.DetectorStemType
@import org.sirapi.entity.pojo.Codebook
@import org.sirapi.entity.pojo.ResponseOption
@import org.sirapi.entity.pojo.ResponseOptionSlot
@import play.api.Play
@import com.typesafe.config.ConfigFactory

<style>
    .dashNumber {
       font-family:    Arial, Helvetica, sans-serif;
       font-size:      48px;
       font-weight:    bold;
       color:          Black;
    }
    .dashText {
       font-family:    Arial, Helvetica, sans-serif;
       font-size:      28px;
       font-weight:    bold;
       padding:        1px 15px 35px 15px;
    }
    .glyphicon-comment {
       font-size: 24px
    }
</style>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2>Dashboard</h2>
        <br>
        <h4>Instrument Elements</h4>
        <div class="row dash-text">
            <div class="col-md-2 text-center">
                <div class="dashNumber">@InstrumentType.getNumberInstrumentTypes()</div>
                <a href="" id="instrumentTypes" class="btn btn-primary w-100 disabled" role="button">Instrument<br>Types</a>
                <br>
            </div>
            <div class="col-md-2 text-center">
                <div class="dashNumber">@Instrument.getNumberInstruments()</div>
                <a href="" id="instruments" class="btn btn-primary w-100 disabled" role="button">Instruments<br>&nbsp; </a>
                <br>
            </div>
            <div class="col-md-2 text-center">
                <div class="dashNumber">@DetectorSlot.getNumberDetectorSlots()</div>
                <a href="" id="detectorSlots" class="btn btn-primary w-100 disabled" role="button">Detector Slots<br>&nbsp; </a>
                <br>
            </div>
            <div class="col-md-2 text-center">
                <div class="dashNumber">@DetectorSlot.getNumberDetectorSlotsWithDetectors()</div>
                <a href="" id="detectorSlotsWithDetectors" class="btn btn-primary w-100 disabled" role="button">Detector Slots<br>w/ Detectors</a>
                <br>
            </div>
        </div>
        <div class="row dash-text">
            <div class="col-md-2 text-center">
                <div class="dashNumber">@DetectorStemType.getNumberDetectorStemTypes()</div>
                <a href="" id="detectorStemTypes" class="btn btn-primary w-100 disabled" role="button">DetectorStem<br>Types</a>
                <br>
            </div>
            <div class="col-md-2 text-center">
                <div class="dashNumber">@DetectorStem.getNumberDetectorStems()</div>
                <a href="" id="detectorStems" class="btn btn-primary w-100 disabled" role="button">Detector Stems<br>&nbsp; </a>
                <br>
            </div>
            <div class="col-md-2 text-center">
                <div class="dashNumber">@Detector.getNumberDetectors()</div>
                <a href="" id="detectors" class="btn btn-primary w-100 disabled" role="button">Detectors<br>&nbsp; </a>
                <br>
            </div>
        </div>
        <div class="row dash-text">
            <div class="col-md-2 text-center">
                <div class="dashNumber">@Codebook.getNumberCodebooks()</div>
                <a href="" id="codebooks" class="btn btn-primary w-100 disabled" role="button">Codebooks<br>&nbsp; </a>
                <br>
            </div>
            <div class="col-md-2 text-center">
                <div class="dashNumber">@ResponseOption.getNumberResponseOptions</div>
                <a href="" id="responseoptions" class="btn btn-primary w-100 disabled" role="button">Response Options<br>&nbsp; </a>
                <br>
            </div>
            <div class="col-md-2 text-center">
                <div class="dashNumber">@ResponseOptionSlot.getNumberResponseOptionSlots()</div>
                <a href="" id="responseOptionSlots" class="btn btn-primary w-100 disabled" role="button">Response Option Slots<br>&nbsp; </a>
                <br>
            </div>
            <div class="col-md-2 text-center">
                <div class="dashNumber">@ResponseOptionSlot.getNumberResponseOptionSlotsWithResponseOptions()</div>
                <a href="" id="responseOptionSlotsWithResponseOptions" class="btn btn-primary w-100 disabled" role="button">Response Option Slots<br>w/ Response Options</a>
                <br>
            </div>
        </div>
        <br>
        <h4>Semantic Elements</h4>
        <div class="row dash-text">
            <div class="col-md-2 text-center">
                <div class="dashNumber">0</div>
                <a href="" id="sdds" class="btn btn-primary w-100 disabled" role="button">Data Dictionaries</a>
                <br>
            </div>
            <div class="col-md-2 text-center">
                <div class="dashNumber">0</div>
                <a href="" id="semanticvariables" class="btn btn-primary w-100 disabled" role="button">Semantic Variables</a>
                <br>
            </div>
            <div class="col-md-2 text-center">
                <div class="dashNumber">0</div>
                <a href="" id="entitytypes" class="btn btn-primary w-100 disabled" role="button">Entity Types</a>
                <br>
            </div>
            <div class="col-md-2 text-center">
                <div class="dashNumber">0</div>
                <a href="" id="scales" class="btn btn-primary w-100 disabled" role="button">Scales</a>
                <br>
            </div>
        </div>
        <br>
        <h4>Supporting Knowledge</h4>
        <div class="row dash-text">
            <div class="col-md-2 text-center">
                <div class="dashNumber">@NameSpaces.getInstance().getNumOfNameSpaces</div>
                <a href="" id="namespaces" class="btn btn-primary w-100 disabled" role="button">Namespaces</a>
                <br>
            </div>
            <div class="col-md-2 text-center">
                <div class="dashNumber">@HADatAcClass.getNumberClasses()</div>
                <a href="" id="classes" class="btn btn-primary w-100 disabled" role="button">Classes</a>
                <br>
            </div>
            <div class="col-md-2 text-center">
                <div class="dashNumber">@HADatAcThing.getNumberInstances()</div>
                <a href="" id="instances" class="btn btn-primary w-100 disabled" role="button">Instances</a>
                <br>
            </div>
        </div>
        <br>
        <h2>Functionalities</h2>
        <br>
        <div class="row dash-text">
            <div class="col-md-2 text-center">
                <a href="@org.sirapi.console.controllers.documentation.routes.RetrievalMethodList.index()" id="retrievalAPI" class="btn btn-primary w-100" role="button">Element Retrieval API</a>
                <br>
            </div>
            <div class="col-md-2 text-center">
                <a href="@org.sirapi.console.controllers.documentation.routes.ElementsMethodList.index()" id="elementsAPI" class="btn btn-primary w-100" role="button">Element Management API</a>
                <br>
            </div>
            <div class="col-md-2 text-center">
                <a href="@org.sirapi.console.controllers.documentation.routes.RepositoryMethodList.index()" id="repositoryAPI" class="btn btn-primary w-100" role="button">Repo Config API</a>
                <br>
            </div>
            <div class="col-md-2 text-center">
                <a href="@org.sirapi.console.controllers.ontologies.routes.Maintenance.index()" id="methods" class="btn btn-primary w-100" role="button">Ontology Maintenance</a>
                <br>
            </div>
        </div>
        <br>
    </div>
</div>

